/* Utilisation de la police San Francisco pour un style Apple */
body {
    font-family: 'San Francisco', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #0071e3;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    font-size: 0.95em;
    line-height: 1.5;
}

button {
    background-color: #0071e3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #005bb5;
}

button.btn.btn-primary {
    margin-top: 10px;
}

button.btn.btn-success {
    background-color: #0071e3;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.form-group {
    margin-top: 50px;
}

.alert {
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

.alert-info {
    background-color: #d9edf7;
    color: #31708f;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.rating {
     direction: rtl;
     unicode-bidi: bidi-override;
 }

.star {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

input[type="radio"]:checked ~ .star {
    color: #ffcc00;
}
